<!DOCTYPE html>
<html>
<head>
	<title>Go2Cinema</title>
</head>
<body>
<from>
	<input type="submit" name="Pelicula1" value="piratas">
	<input type="submit" name="Personaje2" value="cars">
	<br >
	<input type="submit" name="pelicula2" value="rayo">
	<input type="submit" name="personaje1" value="jack">

	<br><br>

	<label>Seleccion 1</label>
	<label>Seleccion 2</label>
	<br><br>
	<input type="submit" name="validar" value="validar">
</from>
</body>
</html>